<!DOCTYPE html>
<html>
  <head>
    <title>Enviar dados para uma URL</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <form action="/brawler" method="post" enctype="application/json" id="form">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" placeholder="O nome do brawler" value="<%= brawler.name %>">
      <br>
      <label for="rarity">Raridade:</label>
      <input type="text" id="rarity" name="rarity" placeholder="A raridade do brawler" value="<%= brawler.rarity %>">
      <br>
      <label for="type">Tipo:</label>
      <input type="text" id="type" name="type" placeholder="O tipo do brawler" value="<%= brawler.type %>">
      <br>
      <label for="attack">Ataque:</label>
      <input type="text" id="attack" name="attack" placeholder="O valor de ataque do brawler" value="<%= brawler.attack %>">
      <br>
      <label for="health">Vida:</label>
      <input type="text" id="health" name="health" placeholder="A vida do brawler" value="<%= brawler.health %>">
      <br>
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
